html, body{
	width:100%;
	color:purple;
}
#container{
	margin:auto;
	width:90%;
	margin:20px;
}
button{
	font-size:2em;
	background-color:purple;
	width:33.33%;
	height:45px;
	float:left;
	border:solid 2px white;
	color:white;
}
.active{
	background-color:#38003b;
}
h1{
	color:#38003b;
	text-align:center;
	padding:10px;
}
p{
	text-align:center;
}