html, body{
	width:100%;
}
#container{
	width:90%;
	margin:auto;
}
#graph{
	width:100%;
	overflow:hidden;
}
.column{
	width:1%;
	background:purple;
	float:left;
	color:transparent;
}
.column:nth-child(odd){
	background:#38003b;
}
.column:nth-child(odd):hover{
	background:black;
}
.column:hover a span{
	background:white;
	color:purple;
	float:right;
	margin-top:10px;
	padding:5px;
	border-radius:5px;
	background-color: rgba(purple, 0.5);
}
.column:hover{
	
	background:purple;
	float:left;
	color:transparent;
}